.itemContainer {
    width: 500px;
    color: #0d4e47;
    margin: 0 auto;
}

.item {
    font-weight: 500px;
    font-size: bold;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
}

/* .list {
    color: gray;
} */

.deleteButton {
    float: right;
    padding: 12px 30px;
    background: #E0F7FA;
    color: #00796B;
    border-radius: 4px;
    cursor: pointer;
    border: none;

}

.deleteButton:hover {
    background: #00796B;
    color: #E0F7FA;
}

.completed {
    text-decoration: line-through;
}

@media screen and (max-width:800px) {
    .itemContainer {
        width: 300px;
    }

    .item {
        font-weight: 100px;
        font-size: 0.9em;
        margin: 10px;
        padding: 20px;
    }
}