.itemContainer {
    width: 450px;
    /* color: #0d4e47; */
    color: black;
    margin: 0 auto;
}

.item {
    font-weight: 500px;
    font-size: 20px;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* .list {
    color: gray;
} */

.deleteButton {
    margin-left: 2px;
    float: right;
    padding: 8px 12px;
    background: #E0F7FA;
    color: #00796B;
    border-radius: 4px;
    cursor: pointer;
    border: none;

}

.deleteButton:hover {
    background: #00796B;
    color: #E0F7FA;
}

.completed {
    text-decoration: line-through;
}

@media screen and (max-width:800px) {
    .itemContainer {
        width: 250px;
    }

    .item {
        font-weight: 300px;
        font-size: 10px;
        margin: 10px;
        padding: 20px;
    }
}